include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include investment_portfolio *.css
recursive-include investment_portfolio *.csv
recursive-include investment_portfolio *.html
recursive-include investment_portfolio *.ico
recursive-include investment_portfolio *.js
recursive-include investment_portfolio *.json
recursive-include investment_portfolio *.md
recursive-include investment_portfolio *.png
recursive-include investment_portfolio *.py
recursive-include investment_portfolio *.svg
recursive-include investment_portfolio *.txt
recursive-exclude investment_portfolio *.pyc